<div>
    <br>
      <div class="container">
          <div class="container">
            <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
                <div class="blocks">
                    <button mat-raised-button color="accent" routerLink="new">
                        <mat-icon>add</mat-icon> Add Quiz
                    </button>
                </div>
          </div>
      </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Quizzes List</h3>
          </mat-card-title>
          <mat-card-content>
              
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>