mat-horizontal-stepper{
  margin-top: 35px;
  /*min-width: 1500px;*/
  /*min-height: 80%;*/
}

label {
  padding-top: 20px;
  padding-bottom: 10px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    /*margin-left: 50px;*/
  }
  
.example-radio-button {
    margin: 5px;
   
  }

.example-form {
    
    width: 75%;
    
  }

button, mat-spinner {
    margin-top:15px;
}

.next {
  color:white;
  background-color: indigo;
}

.back {
  color:white;
  background-color: maroon;
  margin-right: 5px;
}

.submit {
  color:white;
  background-color: green;
}

.card {
  min-width: 80%;
}

mat-card {
  margin-top: 50px;
  margin-bottom: 25px;
}