<h2 fxLayoutAlign="center">Welcome</h2>
<div fxLayoutAlign="center">
    <form class="example-form" action="">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name">
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email">
                </mat-form-field>
            </div>
        </div>
        <div id="second" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password">
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirm Password">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlexFill>
                <button mat-flat-button color="primary" fxFlexFill>Primary</button>
            </div>
        </div>
        
    </form>
</div>