<div fxLayoutAlign="center">
    <mat-card class="card" >
    <mat-card-title fxLayoutAlign="center" fxLayout.gt-xs="row" fxLayout.xs="column">
        <h2>Welcome Back!</h2>
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlexFill>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="this.f.email.hasError('email') && !this.f.email.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="this.f.email.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div id="second" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlexFill>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="this.f.password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                  
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlexFill>
                <div *ngIf="error">
                    <h3>Wrong credentials!</h3>
                </div>
                <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="accent" fxFlexFill>Login</button>
                <p>New user?
                        <a (click)="toRegister()">Register</a>
                      </p>
            </div>
        </div>
    </form>
    </mat-card-content>
    </mat-card>
</div>