<h2 fxLayoutAlign="center">Welcome back!</h2>
<div fxLayoutAlign="center">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlexFill>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div id="second" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlexFill>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlexFill>
                <button type="submit" mat-flat-button color="primary" fxFlexFill>Login</button>
                <p>New user?
                        <a (click)="toRegister()">Register</a>
                      </p>
            </div>
        </div>
        
    </form>
</div>