.example-form {
   
    width: 75%;
    
  }
  
.example-full-width {
    width: 100%;
  }

form:first-child {
    padding-top: 115px;
}

#second {
    padding-top: 75px;
    padding-bottom: 50px
}

h2 {
    padding-top:25px;
}

a:hover {
  cursor: pointer;
  color:blue;
  font-weight: bold;
}

h3 {
  color:red;
}


.card {
  min-width: 80%;
}

mat-card {
  margin-top: 50px;
  margin-bottom: 25px;
}

* {
  font-family: 'Poppins', sans-serif;
}