<div fxLayoutAlign="center">
    <mat-card class="card" >
    <mat-card-title fxLayoutAlign="center" fxLayout.gt-xs="row" fxLayout.xs="column">
        <h2>Welcome!</h2>
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">
    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" formControlName="name">
                      <mat-error *ngIf="this.f.name.hasError('required')">
                        Name is <strong>required</strong>
                      </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="this.f.email.hasError('email') && !this.f.email.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="this.f.email.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div id="second" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="this.f.password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirm Password" formControlName="password_confirmation">
                    <mat-error *ngIf="this.f.password_confirmation.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlexFill>
                <div *ngIf="error">
                    <h3>User with same email already exists!</h3>
                </div>
                <button type="submit" [disabled]="registerForm.invalid" mat-raised-button color="accent" fxFlexFill>Register</button>
                <p>Already have profile?
                        <a (click)="toLogin()">Login</a>
                    </p>
            </div>
        </div>
    </form>
    </mat-card-content>
    </mat-card>
</div>