<h2 fxLayoutAlign="center">Welcome!</h2>
<div fxLayoutAlign="center">
    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div id="second" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutAlign="center">
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </div>
            <div fxFlex="50%">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Confirm Password" formControlName="password_confirmation">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlexFill>
                <button type="submit" mat-raised-button color="accent" fxFlexFill>Register</button>
                <p>Already have profile?
                        <a (click)="toLogin()">Login</a>
                    </p>
            </div>
        </div>
        
    </form>
</div>